+<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sing in | AdaBank</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="../img/adabank_favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login form Looking Like Google Form</title>
</head>
<body>
    <div class="l-form">
        <form action="client.html" class="form login-form">
            <a href="index.html" class="logo-container"><img src="../img/adabank_logo.svg" class="logo"></a>
            <div class="form_div">
                <input type="text" class="form__input" placeholder=" ">
                <label for="" class="form__label">Identification</label>
            </div>
            <br>
            <div class="form_div">
                <input type="password" class="form__input" placeholder=" ">
                <label for="" class="form__label">Password</label>
            </div>
            <br>
            <a href="client.html">
                <button class="button-signin">Sign in</button></a><br><br>
          </form>
    </div>
    <div class="text-out">
        <p class="subtitle-form">Not registered?</p>
        <p><a href="../templates/register.html">Create an account</a></p>
    </div>
</body>

</html>