<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sing up | AdaBank</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="../img/adabank_favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/login.css">
  <title>Login form Looking Like Google Form</title>
</head>

<body>
  <div class="l-form">
    <form action="" class="form">
      <a href="index.html" class="logo-container"><img src="../img/adabank_logo.svg" class="logo"></a>
      <div class="custom-control1 custom-checkbox custom-control-inline prueba">
        <input type="checkbox" class="custom-control-input" id="customCheck1" onchange="hiddenInputs()">
        <label class="custom-control-label" for="customCheck1"><span id="ba-label1">Business account</span></label>
      </div>
      <br><br>
      <div class="form_div" id="business-input">
        <input type="text" class="form__input " placeholder=" ">
        <label for="" class="form__label ">Company Name</label>
      </div>
      <div class="form_div">
        <input type="text" class="form__input" placeholder=" ">
        <label for="" class="form__label">Identification</label>
      </div>
      <div class="form_div people">
        <input type="text" class="form__input" placeholder=" ">
        <label for="" class="form__label">Full Name</label>
      </div>
      <div class="form_div">
        <input type="text" class="form__input" placeholder=" ">
        <label for="" class="form__label">Birthdate</label>
      </div>
      <div class="form_div">
        <input type="password" class="form__input" placeholder=" ">
        <label for="" class="form__label">Email</label>
      </div>
      <div class="form_div">
        <input type="password" class="form__input" placeholder=" ">
        <label for="" class="form__label">Password</label>
      </div>
      <div class="form_div">
        <input type="password" class="form__input" placeholder=" ">
        <label for="" class="form__label">Repeat password</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline ">
        <input type="checkbox" class="custom-control-input" id="customCheck2"">
        <label class=" custom-control-label" for="customCheck2"><span id="ba-label2">I have read and accept the
          <a href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal" target="_blank">privacy policy </a>
        </span>
        </label>
      </div>
      <br><br>
      <button><strong>Sing up</strong></button>
    </form>
  </div>
  <div class="text-out">
    <p class="subtitle-form">Already have an account?</p>
    <p><a href="../templates/login.html">Sign in</a></p>
  </div>
  <script src="../js/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>